#entry {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

body {
    display: flex;
}

#certificate {
    display: flex;
    justify-content: space-between;
    width: 66em;
    height: 51em;
    z-index: 2;
}

#background {
    position: absolute;
    align-self: center;
    margin-left: 22em;
    z-index: -1;
    width: 50em;
}

#pillarImage {
    object-fit: cover;
    width: 38em;
    height: 22em;
}

#certificateContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#giverInfo, #date{
    width:14em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#giverInfo p {
    margin: 0em;
}

#date {
    margin-right: 1em;
    text-align: end;
}

#giverInfo {
    margin-left: 1em;
}

#description {
    position: absolute;
    right: 20em;
    top: 10em;
    transform: rotate(20deg);
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: normal;
}

#certifName {
    text-align: center;
    font-size: 60px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

#lowerObjects{
    display: flex;
    font-size: 20px;
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: normal;
}

#awardName {
    text-align: center;
    font-size: 100px;
    margin: 0em;
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: normal;
}

#lower {
    display: flex;
    flex-direction: column;

}

hr {
    margin-right: 2em;
    margin-left: 2em;
    height: 61em;
}

@media print {
    @page{size: landscape; margin: 0;}

    #entry, hr {
        display: none;
    }

    #certificate {
        height: 816px;
        width: 1056px;
        margin: 0;
        padding:0;
        align-items: center;
    }

    head {
        display: none;
    }

    #description {
        right: 2em;
        top: 10em;
        transform: rotate(20deg);
    }

}
